
.AppointmentBlock {
    color: white;
    background-color: rgb(111, 137, 166);
    padding: 5px;
    margin: 0px;

    border-radius: 10px;
    overflow: hidden;

    display: flex;
    flex-direction: column;
}

.Value {
    display: block;
    color: #000000;
    overflow: hidden;
    background-color: rgb(136, 179, 71);
    border-radius: 20px;
}