.modal{
    background: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main{
    position: relative;

    height: 48rem;
    width: 50rem;

    text-align: center;

    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1),0 8px 16px rgba(0, 0, 0, .1);
    background-color: #fff;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    padding: 20px;

    padding-top: 0;
    padding-bottom: 0;


}

.main header{
    width: 100%;
    border-bottom: 1px solid #aaa;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;

    /* background-color: red; */
}

.main strong{
    font-size: 1.7rem;
    font-family: Roboto, sans-serif;
    /* color: #74603a; */
    color:rgb(49, 46, 46)
}
.main header button{
    /* position:absolute;
    right: 0.5rem;
    top: 0.5rem; */
    background: transparent;
    border: 0;
    /* font-size: 0; */
    cursor: pointer;
    color:rgb(49, 46, 46)

}
.main header button:focus{
    outline: none;
}

.bodyDiv{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:flex-start;

    width: 100%;
}




.leftDiv{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    /* height: 80%; */


    padding: 10px;

}

.leftDiv input{
    width: 100%;
    height: 1rem;

    border: 1px solid #9da0a3;
    border-radius: 5px;

    font-size: 1.25rem;
    padding: 10px;

    margin-bottom: 10px;
}

.leftDiv label{
    font-size: 1rem;
    width: 100%;
    text-align: left;
    padding: 3px;
}

.leftDiv label select{
    width: 100%;
}


.leftDiv button{
    width: 100%;

    height: 3.2rem;

    border-radius: 5px;
    /* border-color: #7e592a; */

    cursor: pointer;
    color: #fff;
    /* background-color: #74603a; */
    background: rgb(49, 46, 46);


    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 15px;

    transition: filter 0.3s;
    outline: none;

}

.leftDiv button:hover{
    filter: brightness(80%);
}

.rightDiv{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    padding: 10px;

    width: 50%;
}
