body {
  background: fixed;
  background-image: url('/images/background.jpeg');
  background-size: cover;
}

.App {
  text-align: center;
}

.page{
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: space-around;
}

.page .buttons{
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  width: 40%;

  margin-top: 2rem;
  margin-bottom: 0;
}

.page .buttons button{

  height: 3.2rem;

  border-radius: 5px;
  border-color: #7e592a;

  cursor: pointer;
  color: #fff;
  background-color: #74603a;

  font-size: 1.25rem;
  font-weight: 600;

  transition: filter 0.3s;
  outline: none;

}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
